@media screen and (max-width: 1200px){
 
}

@media screen and (max-width: 992px){
	
 }

 @media screen and (max-width: 768px){
	

.logo,.search-group{  width:100%;}
	
.search-group{
	margin-top:0!important;
}
	 
.logo h2,.moto{ text-align: left; display: block!important; width:100%;}

.shopcard h6{
	display: inline-block;
	text-align: center; margin-bottom: 0;
}
	
.logo h2{ font-size: 2em !important; }
	
.logo .moto{ font-size: 0.75em!important; }
	 
}	 
	

 @media screen and (max-width: 600px){
	 
	 
	 	
	.shopcard {
		margin:0 auto !important;
	}
	 
	 
.description .title,.price{ 
	width:100% !important;
	text-align: center!important;
}
	 
	 	 
.container-info .title, .container-info .price{ 
	width:100% !important;
	text-align: left !important; position: relative;
}
	
	.container-info .price{ 
		margin:0px 0px!important;
		 font-size: 1em !important;
		position: relative!important;
		 background:transparent;
		color:#333!important;
		 line-height: 1.5em !important;
		 padding:0px 0px; 
	 }
	 .container-info .price:hover{
		 color:#333!important;
	 }
	 
	 
	 .price{ margin:10px 0px!important;
		 font-size: 1em !important;
		 background:#67bc67;
		 line-height: 0.5em !important;
		 padding:4px 0px;
	 } 
	 .price:hover{
		 color:#fff!important;
	 }
 }



@media screen and (max-width: 480px){
 

.search-group input, .search-group button{height:4em;}

.description{ padding: 5px 5px !important; }
	
.description .isbn{display:none !important;}
	
.description .title{
	font-size: 1.5em !important;
	width:100% !important;
	padding-bottom: 0!important;}
	
.price{ margin:0px 0px!important;}
	
	.container-info .author{
	display: block!important;
		text-align: left;
	margin-top: 5px!important;
		width:100%!important;
}
	
.author{
	display: block!important; text-align: center;
	margin-top: 5px!important;width:100%!important;
}
	
.description .text-info{ height:60px;overflow:auto; margin:15px 0px !important;
font-size: 0.7em!important; line-height: 1.2em!important;
}
	.description a{
		display: none !important;
	}
		.description .add-button{
		position:relative; margin: 0 auto; text-align: center;
	}
	
}


@media screen and (max-width: 320px){
	
.description{ padding: 5px 5px !important; }
	
.description .title,.description .author{width:100%; text-align: center !important;

}

	
	.description .title{
		font-size: 0.9em !important;
		margin-top:0!important; 
	}
	
	.description .price{
		position:relative!important; padding:5px 0px!important;
	}
	
.description .text-info{
	display:none !important; 
	opacity: 0;
}
	
	
			
	.description a{
		display: none !important;
		padding:5px 0px !important; width:100px; margin: 0 auto;}
	.description .add-button{
		position:relative;
	}

		 
.container-info .description .title, .container-info .description .price{ 
	width:100% !important; 
	text-align: left !important; 
	position: relative;
}
	
	
	.container-info .price{ 
		margin:0px 0px!important;
		 font-size: 1em !important;
		position: relative!important;
		 background:transparent;
		color:#333!important;
		 line-height: 1.5em !important;
		 padding:0px 0px; 
	 }
	 .container-info .price:hover{
		 color:#333!important;
	 }
	
		.container-info .author{
	display: block!important;
		text-align: left !important;
	margin-top: 5px!important;
		width:100%!important;
}
	
	.remove-btn{
		position: absolute; bottom:0px!important;
	}
	 
	
	
}