
html,body{ margin: 0; padding: 0; }

@book_block:250px;

body{background: #f0f0f0;}

.shopcard{
	display: block;
	h6,.count2{ 
		display: inline-block;
		vertical-align: middle;
	}
	h6{
		font-size: 0.7em;
		background:#333;
		width:120px;
		margin:10px 0px; padding:5px 0px; 
		text-align: center;
		color:#ccc;
		font-weight: 600;
		font-family: "Open Sans", sans-serif;
		cursor:default;
		line-height:1.2em; 
	}
	
	img{
		margin:5px 0px;
	}
	
	img:hover{
		opacity:0.8;
		filter: alpha(opacity=80);	
	}

	.count2{
		position:relative;
		width: auto;
		height:auto;
		text-align: center;
		padding:4px 5px;
		background:#e2a441; color:#333;
		text-align: center;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px; 
		behavior: url('../PIE/PIE.htc');
		font-weight: 400px;
		left: 6px;
		display: none;
		
	}
	
	
.count2::before {
		position:absolute;
		content:"";
		width:4px; height:6px;
		top:5px; left:-4px;
		border-top:solid 6px transparent;
		border-right:solid 6px #e2a441;
		border-bottom:solid 6px transparent;
		
	}

}


.overlay{
width: 100%;
 height: 100%;
 position: fixed;
 overflow: hidden;
	display: none;
 left: 0px;
 top: 0px;
 padding: 0px;
 z-index: 4;
 text-align: center;
background: #000;
filter: alpha(opacity=50);
 background:rgba(0,0,0,0.5);
}
.card-toggle{
	display: none;}
.close{
	position:relative;
	color:#333; font-size: 0.9em;
}
.container-info{
	position: fixed;
	padding:20px 20px;
//	margin-top: 40px;
	top:25%; left:25%;
	width:50%; height: 50%;
	z-index: 5;
	overflow-y: auto;
	border:solid 1px #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../PIE/PIE.htc');
	box-shadow: 0em 0em 1em #444;
	-webkit-box-shadow: 0em 0em 1em #444;
	-moz-box-shadow: 0em 0em 1em #444;
	-o-box-shadow: 0em 0em 1em #444;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	
	
	
	.card-info-books{
		padding: 0; 
		margin-left: 0;
		.card-books{
			padding:0; margin:10px 0px; 
			padding-bottom: 20px;
			border-bottom: solid 1px #ccc;
		}
		
		
		.card-books:last-child{
			border:none;
		}
		
		img{
			padding:0 0px;
		}
		.description{
		display: inline-block;
		padding-left: 10px;
		display: block;
			
			.title, .author, .isbn,.genre,.date{
				margin:0;
				padding:0;
				display: inline-block;
				width:100%;
				
			}
			.title{
				font-size: 1.4em;
				color:#333;
				padding-bottom: 10px;
			}
			.author,.isbn,.genre,.date{
				font-size: 0.8em;
				color:#666;
				pading:0;
				margin: 0;
			}
			
			
			.price{
				position:absolute;
				right:0;
				top:3px;
				font-size: 1.5em;
			}
			.price:hover{color:#e2a441; }
		}
	}
	
	.card-info-footer{
		position:relative;
		float: right;
		padding:30px 0px 0px 0px;
		
		.row-fluid{
			padding:0;
		}
		
		button{
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
		behavior: url('../PIE/PIE.htc');
		}
	}
	
	.remove-btn{
		position: absolute;
		right:0; bottom: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
		behavior: url('../PIE/PIE.htc');
	}
	
}



header{
	position:relative;
	width:100%;
	height:auto;
	padding:0px; 
	border-bottom:solid 1px #ddd;
	border-top:solid 1px #ddd;
	.search-group{
		padding-top:13px;
	}
	.logo,.search-group{  
		display: inline-block;
		margin-top: 20px;
		padding-right: 0;
		padding-left: 0;
	}
	.category-search{
		background:inherit;

//		li:not(.visible){
//			display:none;
//		}
		
	}
	
	.logo{
		h2{
		float:left;
			color:#666;
			font-family: "Open Sans", sans-serif;
			font-size: 2.3em; 
			margin: 0;
			padding: 0;
			text-shadow: 0.025em 0.0em 0.007em #000;
			-moz-text-shadow: 0.025em 0.0em 0.007em #000;
			-webkit-text-shadow: 0.025em 0.0em 0.007em #000;
			-o-text-shadow: 0.025em 0.0em 0.007em #000;
		
		behavior: url('../PIE/PIE.htc');
		span{
			font-weight: 600;
			color:#e2a441; 
			margin: 0;
		padding: 0;
		}
		
	}
		.moto{
			display: block;
			float:left;
			font-size: 0.9em;
			font-weight: 100;
			font-family: "Verdana", sans-serif;  					color:#666;
			letter-spacing: 0.078em;
			margin-left:2px;
		}
	
	}
	.dropdown{
		margin-top:-2px;
	}
	.style-button{
		
	button{
		background:#666; 
		color:#fefefe;
		text-shadow: none;
	}
		
		ul{
			background:#666; 
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			li a{ color:#fefefe;
				text-shadow: none;}
		}
	}

}

header.default {
   position:relative !important;
	width:100%;
	height:auto;
	padding:0px; 
	border-bottom:solid 1px #ddd;
	border-top:solid 1px #ddd;
	padding-bottom: 0px;
	background: #f0f0f0;
}
header.fixed {
    position:fixed !important;
    top:0; left:0;
    width:100%;
	z-index: 3;
	background: #f0f0f0;
}




.books{
	position: relative;
	margin:20px 0px auto;
	padding:0px 0px; 
}

.book{ position:relative;
	padding-bottom:20px;
	padding-left: 0;
	margin: 20px 0px;  margin-left: 0;
	
	a{
		position: relative;
		display: block;
		width:110px;
		color:#333;
		font-weight: 400;
		font-family: "OPen Sans", sans-serif;
		text-align: left;
		display: block; 
		font-size: 1.1em;
		padding-bottom: 25px;
	}
	a:hover{
		text-decoration: underline; 		
	}
	
	.add-button,.add-button.default
	{
		position: absolute; 
		right:0;
		background:#67bc67;
		color:#f0f0f0;
		font-weight: 600;
		font-family: "OPen Sans", sans-serif;
		box-shadow: 0em 0.15em 0em #666;
		-webkit-box-shadow: 0em 0.15em 0em #666;
		-moz-box-shadow: 0em 0.15em 0em #666;
		-o-box-shadow: 0em 0.15em 0em #666;
		text-shadow: 0em 0.1em 0em #666;
		-webkit-text-shadow: 0em 0.1em 0em #666;
		-moz-text-shadow: 0em 0.1em 0em #666;
		-o-text-shadow: 0em 0.1em 0em #666;
		border-radius: 0;
		behavior: url('../PIE/PIE.htc');
		-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
	}
	

	
	.add-button:hover{
		background: #e2a441; 
	}
	
	img{ 
		position: relative;
		display: inline-block;
		float:left;
	}

	.description{ 
		position: relative;
		height:100%;
		display: inline-block;
		padding:10px 20px;
		background:#e0e0e0;
		display: block;
	
		.author::after,.genre::after,.date::after{
			position: relative;
			content:'/';
			padding:0px 6px;
		}
		
	.title, .price{
		position: relative;
		font-size: 1.5em;
		font-weight: 500;
		color:#333;
		font-family: "Open Sans", sans-serif;
		display: inline-block;
		line-height: 2em!important;
		vertical-align: middle;
			padding-bottom: 10px;

	}
		.title{
			width:80%;
		}
		

		.price{
			width:18%;
			position: relative; 
			margin:0;
			padding-bottom:5px;
			cursor:pointer;
			text-align: right;
			font-size: 1.5em; 
		}
	
		.price:hover{color:#e2a441; }
		
		.author,.isbn,.genre,.date{
			display: inline-block;
			font-size: 0.85em;
			color:#666;
			padding:0;
			margin:0;
		}
		.author{margin-right: 5px;}
		.text-info{ 
			position: relative;
			text-align: left;
			font-size: 0.9em;
			color:#333;
			margin-top: 10px;
			line-height: 1.7em;
		}
	
	}
}


.page{
	margin: 0;
	padding: 0;
}
.pagination {
	float:right;
	li a{
		color:#333;
	}
	
	li a:hover, li a:active{
		color:#e2a441;
	}
}



footer{
	position: relative;
	height:150px; border-top: solid 1px #ddd;
}

/*-----------  ADMIN  ------------*/




//-------------LOGIN FORM-----------


.login-body{
background: #f0f0f0;	
	
}


.login-form{
	
	
text-align: center;
position: absolute;
	
	height:250px;
 margin-top:15%;
box-shadow: 0em 0em 1em #444;
	-webkit-box-shadow: 0em 0em 1em #444;
	-moz-box-shadow: 0em 0em 1em #444;
	-o-box-shadow: 0em 0em 1em #444;
/* Old browsers */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


	
h1{
	font-family: "Open Sans","Arial", sans-serif;
	font-size: 1.5em;
	width:100%;
	text-align: center;
	padding:10px 0px;
	color:#333;
}
	
input[type=text],input[type=password]{
background: #bbb; 

	box-shadow: inset 0em 0.1em 0em #777;
	color:#333;


}	
input[type=submit]
	{
background: #bbb; 
}
	
}


.admin-header{background: #5bc0de;
height:auto;
	h3{ margin: 0;
	padding: 0;
	cursor:default;
	line-height: 50px;
}
	h3,.btn{
		position: relative; display: inline-block;
		vertical-align: middle;
	}
	
}

.admin-description{ 
	input{
	height:30px;
	margin-bottom: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
		behavior: url('../PIE/PIE.htc');
}
	textarea{
		height:80px;
	}
	
	
}


.toggle-add-book{
	position: fixed;
padding:20px; top:25%; left:25%;
	width:50%; height: 50%;
	display: none;
	z-index: 5;
	overflow-y: auto;
	border:solid 1px #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../PIE/PIE.htc');
	box-shadow: 0em 0em 1em #444;
	-webkit-box-shadow: 0em 0em 1em #444;
	-moz-box-shadow: 0em 0em 1em #444;
	-o-box-shadow: 0em 0em 1em #444;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	
	
	.close{
		position: relative; z-index: 5; margin-bottom: 20px;
	}
	
	input,textarea{
	position:relative;
	margin-bottom: 10px;
	}
	
}















/*-----------  ADMIN  ------------*/
